/*
  Navigation / Header
*/

.navigation_bar {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
  top: 0;
}

.navigation_bar_contents {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
}

.navigation_bar_title h1 {
  margin: 0;
}

/*
  Main Container
*/
.main_container {
  display: block;
  min-height: calc(100vh - 48px);
  padding: 0 5%;
}

/*
  Flags
*/

.flags_container {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
}

.flag_container {
  /* align-items: center; */
  border-radius: 0.5rem;
  background-color: #2b2b2b;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  /* text-align: center; */
  text-decoration: none;
  width: 250px;
}
.flag_container:hover {
  background-color: #3b3b3b;
  cursor: pointer;
}

.flag_country_data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.flag_image {
  object-fit: fill;
  width: 100%;
}

.flag_country_name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}


/*
  Country
*/
.country_detail_container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.country_detail_container .country_detail_flag_image {
  margin-top: 0.5rem;
  max-width: 300px;
  width: 300px;
}

.country_detail_container .country_detail_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.country_detail_container > div > h1 {
  margin: 0;
}

