/*
  Navigation / Header
*/

.navigation_bar {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
  top: 0;
}

.navigation_bar.dark_mode {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b1b1b;
}

.navigation_bar_contents {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
}

.navigation_bar_title h1 {
  font-size: 1.25rem;
  margin: 0;
  padding: 10px 0;
}

.navigation_bar_dark_mode_toggle {
  background-color: transparent;
  border: 0;
}
.navigation_bar_dark_mode_toggle:hover {
  cursor: pointer;
}
.navigation_bar_dark_mode_toggle img {
  width: 2rem;
}

.navigation_bar_sun_icon path {
  fill: #fff;
}

/*
  Main Container
*/
.main_container {
  display: block;
  min-height: calc(100vh - 48px);
  padding: 0 5%;
}

.main_container.dark_mode a:link,
.main_container.dark_mode a:visited {
  color: rgba(255, 255, 255, 0.87);
}

/*
  Flags
*/

.flags_container {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
}

.flag_container {
  border-radius: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);  
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  width: 170px;
}

.dark_mode .flag_container:link,
.dark_mode .flag_container:visited {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

.flag_container:hover {
  cursor: pointer;
}

.flag_country_data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem 0.5rem;
}

.flag_image {
  height: 100px;
  object-fit: fill;
  width: 100%;
}

.flag_country_name {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.flag_country_details {
  font-size: 0.8rem;
  margin: 0;
}

/*
  Country
*/
.country_detail_container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.country_detail_container .country_detail_flag_image {
  margin-top: 0.5rem;
  max-width: 300px;
  width: 300px;
}

.country_detail_container .country_detail_flag_image img {
  height: auto;
}

.country_detail_container .country_detail_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.country_detail_container > div > h1 {
  margin: 0;
}

/*
  Explore Countries Filter
*/
.explore_countries_filter {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem 0;
  position: sticky;
  top: 48px;
}

.explore_countries_filter.dark_mode {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.explore_countries_filter_search {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.explore_countries_filter_population_dropdown {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.explore_countries_filter_population_dropdown > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

 .explore_countries_filter_population_dropdown div > input {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
 }

 .explore_countries_filter_region_dropdown {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  min-height:32px;
 }


@media (max-width: 900px) {
  .explore_countries_filter {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2%;
  }

  .explore_countries_filter_search {
    width: 100%;
  }
}